:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    position: relative;
    left: 30%;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    max-width: 100px;
    max-height: 100px;
  }

  #title {
    position: relative;
    left: 40%;
    color: rgb(168, 104, 20);
  }

  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  }

  .grid-item:hover {
    background-color: black;
  }

  .hoverd {
    background-color: black;
  }

  .buttons {
    display: inline-block;
    margin: auto;
    border: none;
    border-radius: 12px;
    padding: 10px;
    background-color: rgb(168, 104, 20);
    color: white;
  }

  .buttons:hover {
    background-color: white;
    color: rgb(168, 104, 20);
    transition: 0.5s;
  }